# env secrets
.env
.env.*
**/.env
**/.env.*
**/.envrc
**/.env.local
**/.env.production
**/.env.development
**/.env.test
!**/.env.example
!**/.env.template
!**/.env.sample
!**/.env.defaults
instructions.md
codex.md

# node
node_modules/
npm-debug.log*

# hardhat / build
artifacts/
cache/
typechain/
coverage/

# OS junk
.DS_Store
Thumbs.db

# logs
logs
*.log
